$navbar-default-bg: lightgrey;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 18px;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}

#logo:hover {
  color: blue;
}
.article-details{
border-top:1px solid #eaeaea;
margin-top: 15px;
}
.jumbotron {
  background-image: asset-url("ror.jpg");
  background-size: cover;
  height: 500px;
}

.btn-xlarge {
  font-size: 20px;
}

.footer {
  background-color: aquamarine;
  color: black;
  margin-top: 30px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing{
  list-style: none;
  padding-left: none;
  
}